@{
    ViewBag.Title = "List of data";
}
 

@model List<CSA.Common.ClientDto>
 
<div class="row">
    <div class="col-md-12">
        <h2>Clients</h2>
       
            @foreach (var item in Model)
            {
                <div class="col-sm-6">@item.Description</div>
            <p class="col-sm-6"><a class="btn btn-default" target="_blank" href="@item.WebSiteAddress">Learn more &raquo;</a></p>

            }
        
        </div>

    </div>