@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Architectural Spike Template</h1>
    <p class="lead">This is an MVC web application</p>
    <p class="lead">3-Tier</p>
    <p class="lead">IIS Express</p>
    <div>Using  - (localdb)\.</div>
    <p>
        <div>@Html.ActionLink("See data »", "About", "Home",  new { @class = "btn btn-success btn-lg" })</div>
      
    </p>
    <p>
       
        <a href="http://csa-technologies.com" target="_blank" class="btn btn-primary btn-lg"> Learn more &raquo;</a>
    </p>
</div>
